.site-header{
    background-color: $Assurity-Red;
	color: $Assurity-White;
    border-bottom: medium $Assurity-LR inset;
    margin-bottom: 1rem;
	padding-bottom: .5rem;
	.site-title{
		a{
		color: $Assurity-White;
		//-webkit-text-stroke: 1px $Assurity-LR;
		}
	}
	.menu{
		height: 2rem;
		a{
			color: $Assurity-White;
			font-weight: bold;
			font-size: 1.5rem;
			margin-right: 1rem;
			&:hover{
				border-bottom: medium $Assurity-White solid;
			}
		}
		margin-bottom: .5rem;
	}
    .login-form{
		margin-top: 1rem;
		.login-username,.login-password{
			text-align: right;
			margin-bottom:0;
			display: block;
			label{
				width:auto;
			}
		}
		.login-remember,.login-submit{
			float:right;
			display: inline;
			margin-bottom:0;
			margin-right: 1rem;
		}
    }
}