.site-header{
    background-color: $Assurity-Red;
	color: $Assurity-White;
    border-bottom: medium $Assurity-LR inset;
    margin-bottom: 1rem;
	padding-bottom: .5rem;
	.site-title{
		a{
		color: $Assurity-White;
		//-webkit-text-stroke: 1px $Assurity-LR;
		}
	}
	.menu{
		height: 2rem;
		padding-top: 1rem;

		li{
			border-bottom: medium $Assurity-Red solid;
			border-top: medium $Assurity-Red solid;

			&:hover{
				border-bottom: medium $Assurity-White solid;
				border-top: medium $Assurity-White solid;
			}

			margin-right: 1rem;
			a{
				color: $Assurity-White;
				font-weight: bold;
				font-size: 1.5rem;
				margin-right: 1rem;
			}
			margin-bottom: .1rem;
		}
		li.current-menu-item{
			border-bottom: medium $Assurity-White solid;
			border-top: medium $Assurity-Red solid;
		}
		
	}
}