.site-footer {
	color: $Assurity-Red;
}
.login-form{
	margin-top: 1rem;
	a{
		color: $Assurity-LR;
		text-decoration: underline;
	}
	.login-username,.login-password{
		text-align: right;
		margin-bottom:0;
		display: block;
		label{
			width:auto;
		}
	}
	.login-remember,.login-submit{
		float:right;
		display: inline;
		margin-bottom:0;
		margin-right: 1rem;
	}
}
